* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
  --B-font-family: "Open Sans", sans-serif;
  --H-font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  background-color: var(--Violet);
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 1035px) {
  body {
    background-image: url(../images/bg-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
body h1 {
  font-family: var(--H-font-family);
}
body p {
  font-family: var(--B-font-family);
}

.icon-top {
  margin-top: 40px;
  margin-left: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 1444px) {
  .icon-top {
    margin-left: 100px;
    width: 200px;
  }
}
.icon-top .huddle-logo {
  width: 150px;
}
@media (min-width: 1035px) {
  .icon-top .huddle-logo {
    width: 200px;
  }
}

.a {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
@media (min-width: 1035px) {
  .a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 100px;
    -moz-column-gap: 10px;
         column-gap: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (min-width: 1444px) {
  .a {
    margin-left: auto;
    margin-right: auto;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    -moz-column-gap: 60px;
         column-gap: 60px;
    margin-top: 70px;
  }
}
.a .hero-img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 60px auto 0 auto;
}
@media (min-width: 1444px) {
  .a .hero-img {
    margin-top: 0px;
  }
}
.a .hero-img .illustration-mockups {
  width: 310px;
}
@media (min-width: 1035px) {
  .a .hero-img .illustration-mockups {
    width: 550px;
    margin-left: 40px;
  }
}
@media (min-width: 1444px) {
  .a .hero-img .illustration-mockups {
    width: 600px;
    margin-left: 0px;
  }
}
.a .second-section {
  margin: 60px auto 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.a .second-section .second-sec-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1444px) {
  .a .second-section .second-sec-heading {
    display: block;
  }
}
.a .second-section .second-sec-heading .second-s-h1 {
  width: 300px;
  color: white;
  text-align: center;
  font-size: 24px;
}
@media (min-width: 1035px) {
  .a .second-section .second-sec-heading .second-s-h1 {
    text-align: left;
    font-size: 32px;
    width: 400px;
  }
}
@media (min-width: 1444px) {
  .a .second-section .second-sec-heading .second-s-h1 {
    text-align: left;
    font-size: 38px;
    width: 500px;
  }
}
.a .second-section .second-sec-para {
  margin-top: 20px;
}
.a .second-section .second-sec-para .second-s-p {
  color: white;
  text-align: center;
  width: 300px;
  font-weight: 400;
  line-height: 24px;
}
@media (min-width: 1035px) {
  .a .second-section .second-sec-para .second-s-p {
    text-align: left;
    width: 400px;
  }
}
@media (min-width: 1444px) {
  .a .second-section .second-sec-para .second-s-p {
    font-size: 20px;
    text-align: left;
    width: 580px;
    line-height: 26px;
  }
}
.a .second-section .second-section-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
@media (min-width: 1035px) {
  .a .second-section .second-section-btn {
    justify-content: flex-start;
  }
}
.a .second-section .second-section-btn .btn {
  background-color: white;
  color: var(--Violet);
  font-family: var(--H-font-family);
  text-decoration: none;
  padding: 10px 75px;
  border-radius: 50px;
  font-size: 14px;
  box-shadow: 2px 4px 5px hsla(0deg, 0%, 0%, 0.2);
}
@media (min-width: 1444px) {
  .a .second-section .second-section-btn .btn {
    padding: 15px 65px;
    font-size: 16px;
  }
}
.a .second-section .second-section-btn .btn:hover {
  background-color: var(--Soft-Magenta);
  color: white;
  box-shadow: 2px 4px 20px hsla(0deg, 0%, 0%, 0.4);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.footer .second-section-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
@media (min-width: 1035px) {
  .footer .second-section-icons {
    justify-content: flex-end;
    margin-right: 80px;
    padding-top: 200px;
  }
}
@media (min-width: 1444px) {
  .footer .second-section-icons {
    padding-top: 160px;
    margin-right: 135px;
  }
}
@media (min-width: 1830px) {
  .footer .second-section-icons {
    padding-top: 160px;
    margin-right: 135px;
  }
}
.footer .second-section-icons i {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  border-radius: 50px;
  border: 1px solid white;
  padding: 6px;
  margin: 5px;
  width: 30px;
}
@media (min-width: 1035px) {
  .footer .second-section-icons i {
    font-size: 25px;
    padding: 10px;
    width: 50px;
  }
}
.footer .second-section-icons .fa:hover {
  cursor: pointer;
  color: var(--Soft-Magenta);
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--Soft-Magenta);
}
.footer .wrraper {
  text-align: center;
  margin-top: 15px;
}
.footer .wrraper .f-w-f {
  font-size: 12px;
  font-family: var(--H-font-family);
  color: white;
}
.footer .wrraper .f-w-f .f-w-f-a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.footer .wrraper .f-w-f .f-w-f-a:hover {
  color: red;
  transition: all 0.4s ease-in;
}/*# sourceMappingURL=style.css.map */